.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container form input {
    margin-bottom: 10px;
  }
  
  .form-container form button {
    margin-top: 10px;
  }
  