.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container form input,
.form-container form label {
  width: 100%;
}

.form-container form input {
  margin-bottom: 10px;
}

.form-container form button {
  margin-top: 10px;
  background-color: rgb(25, 118, 210);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-container form button:hover {
  background-color: rgb(21, 101, 182);
}
